In [9]:
import pandas as pd
pong = pd.read_csv("game.csv")
pong.head()

      x    y  vx  vy  Paddle.y
0  1180  300   1  -1       300
1  1180  300  -1  -1       300
2  1180  300   1  -1       300
3  1180  300  -1  -1       300
4  1180  300   1  -1       300

In [6]:
pong.describe()

                  x             y            vx            vy      Paddle.y
count  26406.000000  26406.000000  26406.000000  26406.000000  26406.000000
mean     643.481595    296.098197      0.017572      0.000757    277.419753
std      356.425696    150.454885      0.999865      1.000019    101.605801
min       40.000000     40.000000     -1.000000     -1.000000     71.000000
25%      339.000000    163.000000     -1.000000     -1.000000    181.000000
50%      638.000000    295.000000      1.000000      1.000000    286.000000
75%      938.000000    428.000000      1.000000      1.000000    367.000000
max     1642.000000    560.000000      1.000000      1.000000    529.000000

In [7]:
pong = pong.drop_duplicates()

In [8]:
pong.describe()

                  x             y            vx            vy      Paddle.y
count  25561.000000  25561.000000  25561.000000  25561.000000  25561.000000
mean     623.722037    298.551817      0.018114     -0.008881    278.766558
std      344.015992    150.639694      0.999855      0.999980    101.107597
min       40.000000     40.000000     -1.000000     -1.000000     71.000000
25%      329.000000    167.000000     -1.000000     -1.000000    181.000000
50%      619.000000    297.000000      1.000000     -1.000000    288.000000
75%      909.000000    430.000000      1.000000      1.000000    367.000000
max     1642.000000    560.000000      1.000000      1.000000    529.000000